body {
  height: 100vh;
  width: 100vw;
  background-color: gray;
}

header {
  height: 30px;
}

#start-button {
  width: 100px;
  height: 75px;
  float: left;
  margin: 20px;
}

#game {
  grid-template-rows: 30vmin 30vmin 30vmin;
  grid-template-columns: 30vmin 30vmin 30vmin;
  height: 90vmin;
  width: 90vmin;
  display: grid;
  margin: auto;
  grid-gap: 10px;
}

.board {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  width: 100%;
  display: grid;
  background-color: white;
  border-radius: 5px;
}

.box {
  border: 1px solid gray;
}

.box-filled {
  border: 1px solid gray;
}

.active {
  background-color: green;
}

.active > .box:hover {
  background-color: red;
}

.box > img {
  visibility: hidden;
  height: 100%;
  width: 100%;
  display: flex;
}

.box-filled > img {
  height: 100%;
  width: 100%;
  display: flex;
}

.active > .box:hover > img {
  visibility: visible;
  cursor: pointer;
}

.board > img {
  grid-row: 1/4;
  grid-column: 1/4;
  height: 100%;
  width: 100%;
}

/* @media all and (orientation: landscape) {
}
@media all and (orientation: portrait) {
} */
